/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* Цвета */
  --bg-image: url(../images/cover-image-dark.png); /* фоновая картинки */
  --bg-color: #000028; /* цвет фона */
  --accent-color: #ff0070; /* акцентный цвет */
  --subtitle-color: #ff0070; /* цвет для заголовка главной */
  --button-color: #ff0070; /* цвет кнопки */
  --button-bg-color: transparent; /* фон кнопки */
  --button-hover-color: rgba(255, 0, 112, 0.4); /* цвет границы кнопки при наведении */
  --h1-color: #db00ff; /* цвет заголовка h1*/
  --h2-color: #000028; /* цвет заголовка h2 */
  --content-txt-color: #f1b2ce; /* цвет текста в главной секции */
}