/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png); /* фоновая картинки */
  --bg-color: #FFF1F7; /* цвет фона */
  --accent-color: #FF8DCB; /* акцентный цвет */
  --subtitle-color: #353430; /* цвет для заголовка главной */
  --button-hover-color: rgba(50, 49, 45, 0.4); /* цвет границы кнопки при наведении */
  --h1-color: #FFC2E6; /* цвет заголовка h1*/
  --footer-shawod-color: #FF0070; /* цвет тени футера*/
  --h2-color: #353430; /* цвет заголовка h2 */
  --content-txt-color: #353430; /* цвет текста в главной секции */
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png); /* фоновая картинки */
  --bg-color: #FFF1F7; /* цвет фона */
  --accent-color: #FF8DCB; /* акцентный цвет */
   --decorate-color: #353430; /* декоративный цвет */
  --subtitle-color: #353430; /* цвет для заголовка главной */
  --button-hover-color: rgba(50, 49, 45, 0.4); /* цвет границы кнопки при наведении */
  --h1-color: #FFC2E6; /* цвет заголовка h1*/
  --footer-shawod-color: #FF0070; /* цвет тени футера*/
  --h2-color: #353430; /* цвет заголовка h2 */
  --content-txt-color: #353430; /* цвет текста в главной секции */
  }

} 

.header__rec {
  display: none;
}

@media (width >= 1024px) {
  .footer__title {
    text-shadow: 2px 2px 0 var(--footer-shawod-color);
  }
}