/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-size: var(--text-size);
  margin: 0 auto;
}

/* Мобилка темная тема */

/* header */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 40px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decorate-color);
}

/* Индивидуальные стили для верхнего правого уголка */
.decorated-zone::before {
  border-bottom: 0;
  border-left: 0;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

/* Индивидуальные стили для нижнего левого уголка */
.decorated-zone::after {
  border-top: 0;
  border-right: 0;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

/* декоративный элемент REC */
.header__rec {
  position: absolute;
  display: var(--header-rec);
  align-items: center;
  gap: 10px;
  color: var(--decorate-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--text-size);
  text-transform: uppercase;
  inset-block-start: 10px;
  inset-inline-end: 20px;
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorate-color);
  background-color: var(--decorate-color);
}

/* переключение тем */
.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style: none;
  cursor: pointer;
}

.header__theme-menu-button {
  min-height: 26px;
  border: none;
  padding: 0 13px;
  color: var(--button-color);
  font-family: var(--main-font), sans-serif;
  line-height: 18px;
  text-transform: lowercase;
  background-color: var(--button-bg-color);
}

/* Стили кнопки при нажатии  */
.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

/* Поведении кнопки при взаимодействии */
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

/* Стили для текста шапки */
.title {
  color: var(--title-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--title-size);
  line-height: var(--title-lh);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__title {
  justify-self: flex-start;
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Декоративный фон текста */
.title-decor {
  color: var(--main-text-color);
  background-color: var(--accent-color);
  font-size: var(--title-decor-size);
  line-height: var(--text-lh);
}

/* Параграф шапки */
.header__paragraph {
  justify-self: flex-end;
  max-width: 355px;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--weight-bold);
  line-height: var(--text-lh);
}

/* header для планшета */
@media (width >= 768px) {
  .header {
    min-height: 1024px;
    margin-bottom: 60px;
    padding: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__paragraph {
    max-width: 364px;
  }
}

/* header для десктопа */
@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    font-size: var(--title-size-desctop);
  }

  .header__paragraph {
    max-width: 491px;
  }
}

/* Обертка для двух секций */
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 40px;
  padding: 0 10px;
  font-family: var(--main-font), sans-serif;
}

/* карточка */
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  color: var(--subtitle-color);
  font-size: var(--title-size-m);
  line-height: var(--text-lh);
}

/* Список подкарточек */
.card__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Одна подкарточка */
.card__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  inline-size: 100%;
}

.card__subtitle {
  font-size: var(--text-size);
  line-height: var(--text-lh);
}

/* Текст подкарточки */
.card__description {
  color: var(--content-txt-color);
  line-height: var(--text-lh);
}

/* Контейнер с двумя заголовками */
.card__sub-box {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

/* Дополнительный класс с обычным начертанием */
.card__subtitle_regular {
  font-weight: var(--weight-regular);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

/* Поведении ссылки при взаимодействии */
.text-link:focus-visible {
  border: 1px solid var(--content-txt-color);
  outline: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--content-txt-color);
}

/* Секция галерея с картинками */
.content__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__gallery-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__gallery-img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

/* Главный контент для планшета */
@media (width >= 768px) {
  .content {
    gap: 80px;
    margin-bottom: 60px;
    padding: 0 20px;
  }

  .card__title {
    inline-size: 236px;
  }

  .card {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .what {
    display: flex;
    flex-direction: column;
  }

  .content__gallery {
    gap: 20px;
  }

  .content__gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: fit-content(568px);
    grid-auto-flow: dense;
    gap: 20px;
  }

  /* адаптация картинок под сетку */
  .content__gallery-item:nth-of-type(1) {
    grid-column: 1/3;
  }

  .content__gallery-item:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .content__gallery-item:nth-of-type(3) {
    grid-row: 2/4;
  }

  .content__gallery-item:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

/* Главная секция десктоп */
@media (width >= 1024px) {
  .card {
    grid-template-columns: 315px 1fr;
  }

  .card__title {
    inline-size: 315px;
  }

  .what .card__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* footer */
.footer {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

@media (width >= 1024px) {
  .footer__title {
    font-size: var(--title-size-desctop);
    text-shadow: 2px 2px 0 var(--footer-shadow-color);
  }
}
